.flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.cardName {
text-align: center;
margin-bottom: 1rem;
}

.stats {
   line-height: 2rem;
    
}

.stats h2 {
  text-align: center;
  text-decoration: underline;
}

.desc {
  background-color: whitesmoke;
  font-size: 1.4rem;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.AustinCard {
  position: relative;
  border-radius: 20px;
  padding: 2rem 4rem;
}

.AustinCard::before,
.AustinCard::after {
  content: '';
  position: absolute;
  inset: -.5rem;
  z-index: -1;
  background: linear-gradient(
      var(--gradient-angle),
      hsl(0, 100%, 50%),
      hsl(17, 100%, 55%),
      hsl(292, 100%, 55%),
      hsl(0, 100%, 50%));
  border-radius: inherit;
  animation: rotation 10s linear infinite;
}

.AustinCard::after {
  filter: blur(.5rem);
}


@keyframes rotation {
  0% { --gradient-angle: 0deg;}
  50% {--gradient-angle: 180deg;}
  100% {--gradient-angle: 360deg;}
}


/* The flip card container */
/* Remove perspective if you don't want the 3D effect */
.flipCard {
/* border: 3px solid black; */
background-color: white;
width: 100%;
height: 500px;
border-radius: 20px;   
/* perspective: 1000px;  */
}


/* This container is needed to position the front and back side */
.flipCard_Inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}


/* Causes horizontal flip when mousee is moved over */
.flipCard:hover .flipCard_Inner {
transform: rotateY(180deg);
}

/* Position the front and back side */
.flipCard_Front, .flipCard_Back {
position: absolute;
top: 0;
right: 0;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden; /* Safari */
backface-visibility: hidden;
border-radius: inherit;
}



/* Style the front side (fallback if image is missing) */
.flipCard_Front {
background-color: white;
color: black;
display: flex;
flex-direction: column;
align-items: center;
gap: 2rem;
justify-content: flex-start;
}

.flipCard_Front img {
border-radius: 20px;

}

.flipCard_Info {
display: flex;
flex-direction: column;
/* gap: 1rem; */
}

/* Style the back side */
.flipCard_Back {
display: flex;
padding: 20px;
flex-direction: column;
align-items: flex-start;
justify-content: start;
gap: 20px;
color: black;
transform: rotateY(180deg);
text-align: left;
}

.flipCard_Back h4 {
font-size: 3rem;
text-decoration: underline;
align-self: center;
}