.navbar {
  text-align: center;
  max-width: 100%;
  border-bottom: 2px lightslategrey solid;
  /* color: whitesmoke; */
}

.navbar h1 {
  font-size: 4rem;
  text-shadow: 10px 10px 20px lightslategrey;
  text-decoration: underline;
  /* position: relative; */
}

.nav_Flex {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav_Promotions {
  display: flex;
  align-items: center;
  gap: 3rem;
}
